{% extends "users/layout.html" %} {% block content %}

<!--begin contact -->
<section class="section-white">

    <!--begin container-->
    <div class="container">
        <!-- {{baseURL}}/assets/front/eco/Adiwiyata.png -->
        <!--begin row-->
        <div class="row">
            <h1 class="text-center mb-5">Laporan Final Bahan Perusak Ozon</h1>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3 class="green">Laporan Final Bahan Perusak Ozon Tahun 2020</h3>
                                    <p class="text-between">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Quia sapiente sed
                                        laboriosam suscipit deserunt, doloremque neque, magnam velit obcaecati
                                        blanditiis
                                        magni? Ab fuga ipsa pariatur quod architecto a velit magnam?</p>
                                </div>
                                <div class="col-md-2 mt-5">
                                    <a href="" class="btn btn-link green"><i class="bi bi-download green"></i> Download
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3 class="green">Laporan Final Bahan Perusak Ozon Tahun 2019</h3>
                                    <p class="text-between">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Quia sapiente sed
                                        laboriosam suscipit deserunt, doloremque neque, magnam velit obcaecati
                                        blanditiis
                                        magni? Ab fuga ipsa pariatur quod architecto a velit magnam?</p>
                                </div>
                                <div class="col-md-2 mt-5">
                                    <a href="" class="btn btn-link green"><i class="bi bi-download green"></i> Download
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3 class="green">Laporan Final Bahan Perusak Ozon Tahun 2018</h3>
                                    <p class="text-between">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Quia sapiente sed
                                        laboriosam suscipit deserunt, doloremque neque, magnam velit obcaecati
                                        blanditiis
                                        magni? Ab fuga ipsa pariatur quod architecto a velit magnam?</p>
                                </div>
                                <div class="col-md-2 mt-5">
                                    <a href="" class="btn btn-link green"><i class="bi bi-download green"></i> Download
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-->

{% endblock %}