{% extends "admin/layout.html" %} {% block content %}

<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Program</li>
	</ul><!-- /.breadcrumb -->

  <!-- #section:basics/content.searchbox -->
  <div class="nav-search" id="nav-search">
    <form class="form-search">
      <span class="input-icon">
        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
        <i class="ace-icon fa fa-search nav-search-icon"></i>
      </span>
    </form>
  </div><!-- /.nav-search -->

</div>

<div class="page-content">
  <input hidden id="userid" value="{{userid}}">
  <input hidden id="role" value="{{role}}">
  <div class="page-header">
    <h1>
      Permohonan Surat Kelayakan Operasi (SLO)
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        overview &amp; stats
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12 widget-container-col" >
      <div class="widget-box widget-color-orange">
        <div class="widget-header">
					<div class="widget-toolbar no-border">
            {% if role == 2%}
						<button class="btn btn-xs btn-inverse bigger" data-toggle="modal" data-target="#modal_program">
							<i class="ace-icon fa fa-plus"></i>
							Tambah Permohonan
						</button>
            {% endif %}
					</div>
				</div>
        <div class="widget-body">
          <div class="widget-main">
            <div class="table-responsive">
            <table id="all-permohonan" class="table table-striped table-bordered nowrap table-responsive">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Badan Usaha/Kegiatan</th>
                        <th>Bidang Usaha/Kegiatan</th>
                        <th>NIB</th>
                        <th>Penanggung Jawab</th>
                        <th>Jabatan</th>
                        <th>Alamat</th>
                        <th>No.Telp</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div id="modal_program" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Permohonan Surat Kelayakan Operasi (SLO)</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
					<!-- #section:elements.form -->
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="kode_program"> Nama Badan Usaha/ Kegiatan </label>

						<div class="col-sm-9">
							<input type="text" id="input_1" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Bidang Usaha/ Kegiatan </label>

						<div class="col-sm-9">
							<input type="text" id="input_2" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Nomor Induk Berusaha </label>

						<div class="col-sm-9">
							<input type="text" id="input_3" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Nama Penanggung Jawab Usaha/ Kegiatan </label>

						<div class="col-sm-9">
							<input type="text" id="input_4" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Jabatan </label>

						<div class="col-sm-9">
							<input type="text" id="input_5" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Alamat Kantor dan Lokasi Usaha/ Kegiatan </label>

						<div class="col-sm-9">
							<input type="text" id="input_6" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> No. Telepon </label>

						<div class="col-sm-9">
							<input type="text" id="input_7" placeholder="" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="nama_program"> Email </label>

						<div class="col-sm-9">
							<input type="text" id="input_8" placeholder="" class="form-control">
						</div>
					</div>

          <!-- <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="nama_program"> Perizinan Berusaha </label>

            <div class="col-xs-9">
              <input type="file" name="id-input-file-3" id="doc_izin_usaha" />

            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="nama_program"> Persetujuan Lingkungan </label>

            <div class="col-xs-9">
              <input type="file" name="id-input-file-3" id="doc_persetujauan_lingkungan" />

            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="nama_program"> Persetujuan Teknis </label>

            <div class="col-xs-9">
              <input type="file" name="id-input-file-3" id="doc_persetujuan_teknis" />

            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="nama_program"> Hasil pemantauan Air Limbah </label>

            <div class="col-xs-9">
              <input type="file" name="id-input-file-3" id="doc_hasil_pemantauan" />

            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="nama_program"> Dokumen kontrol jaminan </label>

            <div class="col-xs-9">
              <input type="file" name="id-input-file-3" id="doc_kontrol_jaminan" />

            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="nama_program"> Sertifikat registrasi </label>

            <div class="col-xs-9">
              <input type="file" name="id-input-file-3" id="doc_sertifikat_registrasi" />

            </div>
          </div> -->

				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal"><i class="ace-icon fa fa-close"></i>close</button>
        <button type="button" id="mohon_save" class="btn btn-xs btn-success" data-dismiss="modal"><i class="ace-icon fa fa-check"></i>submit</button>
      </div>
    </div>

  </div>
</div>

<div id="modal_file" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <center><i class="ace-icon fa fa-file green "></i>
            Dokumen Unggahan</center>
            <input type="hidden" id="ini-ID">
        </h4>
      </div>
      <div class="modal-body">
        {% if role == 1 or role == 2 %}

              <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                  <a data-toggle="tab" href="#kajian" aria-expanded="true">Verifikasi Lapangan</a>
                </li>

              </ul>
              <div class="tab-content">
                <div id="kajian" class="tab-pane active">
                  
                    <div class="form-group row">
                      <label class="col-sm-1 control-label no-padding-right" for="nama_program"> Dokumen </label>
          
                      <div class="col-xs-5">
                        <select class="chosen-select form-control" id="jenis_doc"  data-placeholder="Pilih Dokumen ...">
                          <option value=""> </option>
                          <option value="doc_izin_usaha">Perizinan Berusaha</option>
                          <option value="doc_persetujauan_lingkungan">Persetujuan Lingkungan</option>
                          <option value="doc_persetujuan_teknis">Persetujuan Teknis</option>
                          <option value="doc_hasil_pemantauan">Hasil pemantauan Air Limbah </option>
                          <option value="doc_kontrol_jaminan">Dokumen kontrol jaminan/jaminan kualitas </option>
                          <option value="doc_sertifikat_registrasi">Sertifikat registrasi laboratorium lingkungan</option>
                        </select>
                      </div>
                      <div class="col-xs-4">
                        <input type="file" name="id-input-file-3" id="doc_" />
                      </div>
                      <div class="col-xs-2">
                        <button type="button" class="btn btn-xs btn-success" id="submit_doc"><i class="ace-icon fa fa-check-square-o"></i>Submit</button>
                      </div>
                    </div>
                  
                    {% endif %}
                  <table id="data-file-doc" class="table table-striped table-bordered nowrap table-responsive">
                    <thead>
                        <tr>
                            <th>No</th>
                            <!-- <th>BAB</th> -->
                            <th>Dokumen</th>
                            <th>Nama File</th>
                            <th>Status</th>
                            <th>Tanggal Input</th>
                            <th>Keterangan</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                  </table>

                  {% if role == 1 or role == 2 %}
                  <div class="widget-box">
                  <div class="widget-body">
                  <div class="form-group row" id="edit_group" hidden style="padding: 20px 1px 0px 10px;">
                      <label class="col-sm-3 control-label no-padding-right" for=""> <b>Revisi Dokumen</b> </label>
          
                      <div class="col-xs-2">
                        <input type="text" id="jenis_edit" placeholder="" class="form-control" disabled>
                        <input type="hidden" id="id_edit" disabled>
                        <input type="hidden" id="path_edit" disabled>
                        <input type="hidden" id="type_edit" disabled>
                      </div>
                      <div class="col-xs-5">
                        <input type="file" name="id-input-file-3" id="edit_file" />
                      </div>
                      <div class="col-xs-2">
                        <button type="button" class="btn btn-xs btn-success" id="submit_edit"><i class="ace-icon fa fa-check-square-o"></i>Submit</button>
                      </div>
                    </div>
                  </div>
                  </div>
                  {% endif %}
                </div>

              </div>

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal"><i class="ace-icon fa fa-close"></i>close</button>
      </div>
    </div>

  </div>
</div>

</div>

</div>
<!-- <script src="{{baseURL}}/assets/action-js/admin/datapengaduan.js"></script> -->
{% endblock %}
