{% extends "users/layout.html" %} {% block content %}

<!--begin contact -->
<section class="section-white">

    <!--begin container-->
    <div class="container">
        <!-- {{baseURL}}/assets/front/eco/Adiwiyata.png -->
        <!--begin row-->
        <div class="row">
            <img src="{{baseURL}}/assets/front/under-construction.png"
                style="margin-top: -200px;  width: 80% !important;" class="img-fluid mx-auto" alt="struktur.jpeg">
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-->

{% endblock %}