{% extends "users/layout.html" %} {% block content %}

<section class="section-white">

    <!--begin container-->
    <div class="container">
  
      <!--begin row-->
      <div class="row align-items-center">
  
        <!--begin col-md-6-->
        <div class="col-md-12">
  
          <h3>Dasar Hukum</h3>
  
          <p>Dilampirkan antara lain  : </p>
  
          <ul class="benefits">
            <li><i class="bi bi-check green"></i>-  Undang-undang Nomor 11 Tahun 2020 tentang Cipta Kerja</li>
            <li><i class="bi bi-check green"></i>-	Undang-undang Nomor 32 Tahun 2009 tentang Perlindungan dan Pengelolaan Lingkungan Hidup</li>
            <li><i class="bi bi-check green"></i>-	Peraturan Pemerintah Nomor 5 Tahun 2021 tentang Penyelenggaraan Perizinan Berusaha Berbasis Resiko</li>
            <li><i class="bi bi-check green"></i>-	Peraturan Pemerintan Nomor 22 Tahun 2021 tentang Penyelenggaraan Perlindungan dan Pengelolaan Lingkungan Hidup</li>
            <li><i class="bi bi-check green"></i>-	Peraturan Menteri Lingkungan Hidup dan Kehutanan Nomor 5 Tahun 2021 tentang Tata Cara Penerbitan Persetujuan Teknis dan Surat Kelayakan Operasional Bidang Pengendalian Pencemaran Lingkungan</li>
          </ul>

  
        </div>
        <!--end col-md-6-->
  
      </div>
      <!--end row-->
  
    </div>
    <!--end container-->
  
  </section>

{% endblock %}