<header>
	<div class="container-fluid bg-light">
		<div class="container">
			<nav class="navbar navbar-expand-sm navbar-light">
				<a class="navbar-brand" href="#"><img src="{{baseURL}}/assets/front/logo.png" width="70%"
						alt="logo-DLHK-Bandung.png"></a>
				<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button> -->
				<!-- <div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a href="login"><button type="button" class="btn btn-link text-white"><i
										class="bi bi-person text-white"></i>
									Login</button></a>

						</li>
						<li class="nav-item">
							<a href="index.html#"><button type="button" class="btn btn-success">Sign-up</button></a>
						</li>
					</ul>
				</div> -->
				<div class="offset-md-6"></div>
				<div class="col-md-3 text-end">
					<a href="login"><button type="button" class="btn btn-link"><i class="bi bi-person"></i>
							Login</button></a>
					<a href="index.html#"><button type="button" class="btn btn-success">Sign-up</button></a>
				</div>
			</nav>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-fixed-top bg-success text-white">

		<div class="container">

			<!-- begin logo -->
			<!-- <a class="navbar-brand" href="index.html#"><i class="bi bi-intersect"></i> Smart</a> -->
			<!-- end logo -->


			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
				aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
			</button>



			<div class="collapse navbar-collapse" id="navbarScroll">

				<!-- begin navbar-nav -->
				<ul class="navbar-nav navbar-nav-scroll justify-content-between">

					<li class="nav-item"><a class="nav-link" href="home">Home</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Profil DLHK Bandung
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="profil">Profil DLHK Kota Bandung</a>
							<a class="dropdown-item" href="visimisi">Visi dan Misi DLHK Kota Bandung</a>
							<a class="dropdown-item" href="struktur">Struktur Organisasi DLHK Kota Bandung</a>
						</div>
					</li>

					<li class="nav-item"><a class="nav-link" href="index.html#about">Regulasi</a></li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Publikasi
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Laporan Final Ruang Terbuka Hijau</a>
							<a class="dropdown-item" href="#">Laporan Final Bahan Perusak Ozon</a>
						</div>
					</li>

					<li class="nav-item"><a class="nav-link" href="index.html#how-it-works">Perizinan dan Prosedur</a>
					</li>

					<li class="nav-item"><a class="nav-link" href="eco_concept">Eco-concept</a></li>

					<li class="nav-item"><a class="nav-link" href="kegiatanUser">Kegiatan DLHK Bandung</a></li>

					<li class="nav-item"><a class="nav-link" href="contact">Hubungi Kami</a></li>

				</ul>
			</div>

		</div>

	</nav>

</header>