{% extends "users/layout.html" %} {% block content %}

<!--begin contact -->
<section class="section-white">

    <!--begin container-->
    <div class="container">
        <!-- {{baseURL}}/assets/front/eco/Adiwiyata.png -->
        <!--begin row-->
        <div class="row">
            <h1 class="text-center">Profil Dinas Lingkungan Hidup dan Kebersihan</h1>
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <img src="{{baseURL}}/assets/front/logo.png" alt="logo.png" width="45%" class="img-fluid">
                </div>
                <div class="col-md-12">
                    <p class="text-md-start">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, non atque. Suscipit minus
                        doloribus
                        eaque dolores numquam, ut ex quia magni omnis obcaecati maiores quidem, quibusdam saepe dolorum
                        vitae atque modi architecto reiciendis commodi, magnam ipsam. Sed itaque, delectus quaerat
                        veritatis
                        explicabo maxime numquam libero tempore magni, nam laudantium error nobis. Facilis odio rerum
                        consequatur quaerat unde neque quia consequuntur ipsam rem porro aliquam harum natus alias,
                        inventore nemo maxime. Repudiandae iure quasi dolor possimus. Velit, minus distinctio, doloribus
                        ab
                        vero voluptatibus dignissimos repellat dolores reprehenderit repellendus tenetur nemo porro iste
                        expedita aliquam quae blanditiis facere? Architecto quidem, dignissimos animi cupiditate,
                        excepturi
                        perferendis ipsam dolore in reprehenderit veritatis sit soluta sapiente hic. Mollitia quod illo
                        pariatur nostrum ducimus, maxime repellendus similique repudiandae et eos repellat.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non molestias dicta reiciendis?
                        Perspiciatis nihil dolores itaque quae sapiente laboriosam laudantium? Optio dolorum, soluta
                        placeat debitis sunt voluptas distinctio aut sit. Nisi, consequuntur soluta fugit, sit velit
                        dolores pariatur alias qui voluptas iste non? At et hic veritatis laudantium quis cumque unde,
                        praesentium nemo suscipit voluptatum debitis eum sapiente velit fugit laboriosam accusamus ipsa
                        repudiandae nesciunt aliquam ab esse. Architecto odio cumque nisi quaerat tempora eos soluta,
                        fugit dicta harum, dolorum incidunt repudiandae atque odit voluptate neque doloribus aperiam
                        sapiente explicabo laboriosam optio sequi, aliquid cupiditate deserunt! Laboriosam voluptatem
                        optio dolores atque exercitationem commodi sunt provident eum corrupti quia dolor, eligendi
                        eveniet dolorem ipsa ut tenetur quos possimus odio. Odit reiciendis sunt modi hic fuga fugit, ut
                        ea, ipsam provident fugiat ab praesentium libero quibusdam assumenda natus voluptatem, dolor
                        itaque. Eum voluptate tenetur magni porro accusantium ipsum dolores distinctio rem sed quae
                        veniam, debitis voluptates adipisci reiciendis, culpa deserunt velit. Commodi rerum molestias
                        delectus possimus, quod minus facilis, eveniet iste dolor voluptates eum, aliquam quae nam
                        reiciendis consequatur. Nisi, autem repudiandae error laboriosam inventore quia aut? Dolorem, a,
                        praesentium architecto, facere possimus eveniet quidem vel provident magni dolor tempora
                        tenetur. Odio.</p>
                </div>
            </div>
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-->

{% endblock %}