{% extends "users/layout.html" %} {% block content %}

<!--begin contact -->
<section class="section-white">

    <!--begin container-->
    <div class="container">
        <!-- {{baseURL}}/assets/front/eco/Adiwiyata.png -->
        <!--begin row-->
        <div class="row">
            <h1 class="text-center">Visi Misi Dinas Lingkungan Hidup dan Kebersihan</h1>
            <div class="offset-md-3 col-md-6 offset-md-2 mb-5">
                <div class="div-image-logo" style="height: 200px !important;">
                    <img src="{{baseURL}}/assets/front/logo.png" class="width-100 responsive-top-margins"
                        style="margin-top: 0px !important;" alt="logo.png">
                </div>
            </div>
            <div class="col-md-6">
                <h3>VISI</h3>
                <hr id="hr-vm">

                <table class="table table-borderless fs-5">
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur possimus omnis dolorem,
                            rem odio minus hic impedit voluptas neque fugiat.</td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur possimus omnis dolorem,
                            rem odio minus hic impedit voluptas neque fugiat.</td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur possimus omnis dolorem,
                            rem odio minus hic impedit voluptas neque fugiat.</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h3>MISI</h3>
                <hr id="hr-vm">

                <table class="table table-borderless fs-5">
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur possimus omnis dolorem,
                            rem odio minus hic impedit voluptas neque fugiat.</td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur possimus omnis dolorem,
                            rem odio minus hic impedit voluptas neque fugiat.</td>
                    </tr>
                    <tr>
                        <td width="5%"><i class="bi bi-check-circle-fill green"></i></td>
                        <td>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur possimus omnis dolorem,
                            rem odio minus hic impedit voluptas neque fugiat.</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact-->

{% endblock %}